@import url("./components/common/common.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
}

#body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background: linear-gradient(to bottom, #3b0764, #581c87, #6b21a8, #000000);
    width: 100%;
    color: white;
    padding: 1rem;
}

/* Loading Page*/
/* ----------------------------- */

.loading-page-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Spinning Vinyl Image */
.spin {
    animation: spin 2s linear infinite;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.start-button {
    color: white;
    font-size: 2rem;
    background-color: #6b21a8;
    /* padding: 10px 20px; */
    margin-bottom: 0.5px;
    border-radius: 50px;
    width: 15rem;
    box-shadow: 1rem 1rem 10rem rgb(168, 85, 247);
}

.album-card {
    border: none;
}

/* To be album sizing styling */
.album-artwork {
    width: 200px;
    height: 200px;
    margin: 50px 0px;
}

/* Home Page */
/* ----------------------------- */

.expanded-album-review-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2vh;
}

.key-album-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0;
    padding-left: 15px;
    place-items: center;
    flex: 1
}

.album-datapoint-card {
    border: none;
    text-align: center;
}

.user-review-card {
    flex: 1;
    padding: 2vw
}

/* Listening Log Page */

#user-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
}

.listening-stat {
    border: 2px solid brown;
    padding: 10px 10px;
    width: 20rem;
    text-align: center;
}

/* Fix this so it shows 5 per row on desktop and switches at breakpoints */
.recently-listened {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    border: 2px solid brown;
    margin: 50px 50px;
    padding-left: 15px;
    place-items: center;
    width: 100%;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20vw;
}

.album-search {
    width: 50vw;
}

.search-button {
    width: 10vw;
    background-color: rgb(253, 101, 0);
    border: 2px solid black;
    border-radius: 3px;
    height: 50px;
}

.search-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20vw;
}

.add-album-button {
    width: 10vw;
    background-color: rgb(253, 101, 0);
    border: 2px solid black;
    border-radius: 3px;
    height: 50px;
    margin-right: 222px;
}

.about-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* padding: 2rem; */
    box-sizing: border-box;
}

.about-divider p {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.6;
    padding-right: 2rem;
}

.about-image-heading {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
}

.user-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

.profile-stat {
    border: 2px solid brown;
    padding: 10px 10px;
    width: 8rem;
    text-align: center;
}

.expanded-album-details-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.album-review-info {
    text-align: center;
}

#rating {
    background-color: rgb(253, 101, 0);
}

.review-input {
    height: 45vh;
    width: 45vw;
    margin-bottom: 2vh;
    vertical-align: top;
    text-align: left;
    font-size: 1.5rem;
}